.search-result .right-section .element-item {
    background: #fff;
    z-index: 10;
}
/* .seat-map {
    height: 250px;
} */
.busBack{
    background: url("../images/bus/c.png") 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 10px;
    padding: 53px 125px 0 150px;
    height: 250px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
div.seatCharts-row {
    height: 29px;
    margin: 0 auto;
    clear: both;
}
.seatCharts-row div.seatCharts-cell {
    width: 25px;
    height: 25px;
    background: #fff;
    color: #666;
    line-height: 25px;
    border: 1px solid gray;
}
.bus-rows-9 .seatCharts-row div.seatCharts-cell {
    margin: 2px 15px;
}
.bus-rows-10 .seatCharts-row div.seatCharts-cell {
    margin: 2px 12px;
}
.bus-rows-11 .seatCharts-row div.seatCharts-cell {
    margin: 2px 10px;
}
.bus-rows-12 .seatCharts-row div.seatCharts-cell {
    margin: 2px 8px;
}
.seatCharts-row div.seatCharts-cell:hover {
    background: #ddd;
    cursor: pointer;
}
.seatCharts-row div.seatCharts-cell.unavailable {
    background: #ddd;
    cursor: not-allowed;
}
.seatCharts-row div.seatCharts-cell.selected,
.seatCharts-row div.seatCharts-cell.reserved {
    background: #ff6600;
    color: #fff;
}
.seatCharts-row div.seatCharts-space,
.seatCharts-row div.seatCharts-space:hover {
    background: transparent;
    border: 0 none;
    cursor: auto;
}
.seatCharts-row div.seatCharts-seat.unavailable.male-booked {
    background: #002c5a;
    color: #fff;
}
.seatCharts-row div.seatCharts-seat.unavailable.female-booked {
    background: #ff0385;
    color: #fff;
}
#bus_seat_reserve {
    width: 100%;
    text-align: center;
    position: relative;
}
#bus_seat_reserve .fields-wrapper {
    /* float: left;
    margin-right: 50px; */
    position: absolute;
    right: 15%;
}
.bus-confirm .busBack {
    background-image: url("../images/bus/na.png");
    padding: 53px 80px 0 150px;
}
